* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(100deg, #111, #000);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
}

.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  background: linear-gradient(100deg, #000, #111);
  max-height: 125px;
  height: 70px;
  top: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.50);
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.navigation .navigation-items li:hover {
  opacity: 0.6;
}

.navigation .navigation-items img {
  display: flex;
  width: 150px;
  height: 100px;
  margin-left: 135px;
  margin-top: -15px;
}

.navigation .navigation-items li  {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 70px;
  width: 20px;
  transition: opacity 0.5s;
  padding: -20px -300px 0 0;
}

.navigation-icons li {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 1909px;
  top: 20px;
  max-width: 70%;
}

nav ul li img {
  display: flex;
  width: 30px;
  border-radius: 5px;
}

.background-spider {
  width: 100%;
  height: 800px;
  margin-top: 70px;
  left: 200px;
  max-width: 120%;
}

.spidermovie .logo {
  display: flex;
  margin-left: 150px;
  margin-top: -550px;
  width: 400px;

}

.spidermovie p {
  display: flex;
  color: #fff;
  margin-left: 150px;
  font-size: 20px;
  padding: 30px 0 15px;
  width: 30%;
  max-width: 100%;
}

.spidermovie .watch {
  border: 2px solid white;
  background: white;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 25px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px
}

.spidermovie .watch img {
  display: flex;
  width: 25px;
  margin-left: 17px;
  margin-top: -1px;
}

.spidermovie .more {
  color: white;
  border: 1px solid white;
  background: transparent;
  width: 250px;
  height: 60px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 20px
}

button:hover {
  filter: brightness( 80% );
  transition: 0.6s;
}

.popular-series h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.popular-series .sexeducation {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.popular-series .lucifer {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -200px;
}

.popular-series .you {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -200px;
}

.popular-series .lacasadepapel {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -200px;
}

.popular-series .blackmirror {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -200px;
}

.popular-movies h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.popular-movies .it {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.popular-movies .coletivo {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -200px;
}

.popular-movies .halloween {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -200px;
}

.popular-movies .jumanji {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -200px;
}

.popular-movies .grownups {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -200px;
}

.original h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.original .tenkushinpan {
  display: flex;
  width: 350px;
  height: 700px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.original .borderland {
  display: flex;
  width: 350px;
  height: 700px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -700px;
}

.original .lupin {
  display: flex;
  width: 350px;
  height: 700px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -700px;
}

.original .strangerthings {
  display: flex;
  width: 350px;
  height: 700px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -700px;
}

.original .bigmouth {
  display: flex;
  width: 350px;
  height: 700px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -700px;
}

.popular-animation h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.popular-animation .kungfupanda {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.popular-animation .desencanto {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -200px;
}

.popular-animation .avatar {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -200px;
}

.popular-animation .favoriteevil {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -200px;
}

.popular-animation .coraline {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -200px;
}

.popular-anime h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.popular-anime .yourname {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.popular-anime .animationcastle {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -200px;
}

.popular-anime .toradora {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -200px;
}

.popular-anime .pokemon {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -200px;
}

.popular-anime .deadlysins {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -200px;
}

.popular-comedia h1 {
  display: flex;
  color: white;
  margin-left: 150px;
  margin-top: 95px;
}

.popular-comedia .grownups2 {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

.popular-comedia .firsttime {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 510px;
  margin-top: -200px;
}

.popular-comedia .shoppingsecurity {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 870px;
  margin-top: -200px;
}

.popular-comedia .whitegirls {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1230px;
  margin-top: -200px;
}

.popular-comedia .pixels {
  display: flex;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-left: 1590px;
  margin-top: -200px;
}

.footer {
  width: 100%;
  height: 100px;
}

.footer p {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 20px;
  margin-top: 150px;
}

.footer span {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 20px;
  margin-top: 20px;
}

.main img:hover {
  filter: brightness( 80% );
  transition: 0.3s;
}