* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(100deg, #111, #000);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 1;
  max-height: 70px;
  height: 100%;
  width: 100%;
  background: linear-gradient(100deg, #000, #111);
  box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  padding-left: 5.5%;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 70.5vw;
  width: 100%;
  margin-right: auto;
}

.logo {
  width: 150px;
  height: 100px;
}

.navigation-items {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: auto;
}

.navigation-items li {
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  margin-left: 70px;
  cursor: pointer;
}

.navigation-items li a {
  color: #fff;
  font-size: 15px;
}

.navigation-items li:hover {
  opacity: 0.6;
}

.spidermovie {
  position: relative;
}

.background-spider {
  position: relative;
  width: 100%;
  max-height: 800px;
  height: 100%;
  margin-top: 70px;
  z-index: -1;
}

.spidermovie-content {
  position: absolute;
  bottom: 200px;
  left: 6%;
}

.spidermovie-content .logo {
  width: 400px;
  height: 150px;
  object-fit: cover;
}

.spidermovie p {
  color: #fff;
  font-size: 20px;
  margin-top: 25px;
}

.spidermovie-content .spidermovie-buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.spidermovie .watch {
  border: 2px solid white;
  background: white;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.6s;
}

.spidermovie .watch img {
  width: 25px;
}

.spidermovie .more {
  color: white;
  border: 1px solid white;
  background: transparent;
  width: 250px;
  height: 60px;
  cursor: pointer;
  margin-left: 25px;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
  transition: color 0.2s;
  font-weight: 500;
}

.spidermovie .more::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.4s;
}

.spidermovie .more:hover {
  color: #333;
}

.spidermovie .more:hover::before {
  width: 100%;
}

.spidermovie-content .watch:hover {
  filter: brightness(80%);
}

.recommended-movies {
  margin-top: -100px;
  margin-left: 6%;
}

.popular-movies {
  display: flex;
  flex-direction: column;
}

.popular-movies:not(.popular-movies:first-child) {
  margin-top: 100px;
}

.popular-movies h1 {
  color: #fff;
}

.popular-movies ul {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.popular-movies li {
  cursor: pointer;
}

.popular-movies li:not(.popular-movies li:first-child) {
  margin-left: 10px;
}

.popular-movies ul li img {
  width: 350px;
  height: 100%;
  border-radius: 10px;
  transition: filter 0.2s;
}

.popular-movies ul li img:hover {
  filter: brightness(85%)
}

.footer {
  width: 100%;
  margin: 100px 0 50px;
}

.footer p {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 20px;
}

.footer span {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 20px;
  margin-top: 20px;
}